node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337



# pinata keys
API Key: 1c9590ce765f9bd2fb14
API Secret: 72b353d083049dee743ee336901ced6b25a0c19302d975a218ad42068d4db0dd
JWT: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmOTdlZmU5Ny01MjNjLTQ3ZGQtOTRlOC1lNjQ2Y2U3YTJjM2UiLCJlbWFpbCI6InN1cmFqc2Fua2VuZGxhQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIxYzk1OTBjZTc2NWY5YmQyZmIxNCIsInNjb3BlZEtleVNlY3JldCI6IjcyYjM1M2QwODMwNDlkZWU3NDNlZTMzNjkwMWNlZDZiMjVhMGMxOTMwMmQ5NzVhMjE4YWQ0MjA2OGQ0ZGIwZGQiLCJleHAiOjE3OTU0MTY2OTd9.sIveodieFOSfpgdV-Z3D0F2qH_6YYVVuGkD1KhJt6eY